*{
    font-family: Raleway;
}

#news{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    float: left;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 100px;
    width: 500px;
    margin-left: 160px;
}

img{
    float: left;
    width: 500px;
}

h1{
    font-size: 20px;
    margin-bottom: 20px;
    color: #464646;
}

h2{
    font-size: 13px;
    color: #464646;
}

span{
    margin-top: 15px;
}

button{
    font-family: Roboto;
    color: rgb(199, 0, 0);
    background-color: transparent;
    border: transparent;
    border-color: rgb(199, 0, 0);
}